# Telegram API credentials
# Get these from https://my.telegram.org/apps
API_ID=
API_HASH=

# Phone number (with country code, e.g., +351012345678)
PHONE_NUMBER=

# Bot Token
# Get this from @BotFather in Telegram
BOT_TOKEN=

# Admin ID
# You can find your id with bot @userinfobot
ADMIN_ID=
